@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
/* @import "tachyons"; */


body {
  padding-bottom: 150px;
}

.rating {
  text-align: right;
}

.section {
  padding-bottom: 200px;
}

/* header */

.titleOne {
  font-size: 60px;
}

.titleOne, .titleTwo {
  font-family: 'Bebas Neue', cursive;
  color: black;
  text-align: center;
}

.titleThree {
  font-family: 'Bebas Neue', cursive;
  color: black;
  text-align: left;
}

.titleFour {
  font-family: 'Bebas Neue', cursive;
  color: black;
  text-align: left;
  font-size: 40px;
}

#root {
  height: 100vh;
}

.titleTwo {
font-size: 30px;
margin-bottom: 20px;
}

.hero {
  font-family: 'Alata', sans-serif;
  height: 100vh;
}

.sc-bwzfXH {
  height: 100vh;
}

/* navbar  */

.navbar-item {
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 10px;
}

div.navbar-item:hover {
  background-color: black;
  transition: 0.5s;
}

.black-link:hover {
  color: white;
  transition: 0.5s;
}


a{
  color: rgb(65, 64, 64);
}

a.black-link.navbar-link:hover {
background-color: black;
color: white;
transition: 0.5s;
}

.vaultlogo img {
    transform: scale(3);
    margin-bottom: 20px;
    margin-right: -10px;
    margin-left: 20px;
    }
    
    div.buttons.navbar-item {
      margin-left: 200px;
    }
  
  .buttons.navbar-item:hover {
    background-color: white;
  }

  .button.is-white {
    border-radius: 2px;
  }
  .button.is-white:hover {
  color: white;
  background-color: black;
  margin-bottom: 5px;
  transform: scale(1.1);
  }

  /* individual image hover animation */

  .singleImage.column {
    padding: 10px;
  }
     .singleImage:hover {
      transform: scale(1.1);
      } 
    
      .singleImage {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        transition: 0.5s; 
        /* width: 200px;
        height: 280px; */
        margin-bottom: 5px; 
       }
     
       .singleImageBooks:hover {
        transform: scale(1.1);
        } 
      
        .singleImageBooks {
          display: flex;
          justify-content: space-between;
          margin-bottom: 2px;
          /* padding: 15px; */
          /* margin: 5px 10px; */
          transition: 0.5s; 
          width: 290px;
          height: 510px;
          /* margin-bottom: 5px;  */
         }
 

      /*aichi's comment boxes */
      .name-bar.form-control {
      width: 400px;
      border: 4px solid, black;
      margin-top: 10px;
      margin-bottom: 8px;
      border-radius: 5px;

      } 
      .comment-bar.form-control {
        width: 400px;
        /* height: 200px; */
        border: 4px solid, black;
        border-radius: 5px;
      }

      button.comment-bar {
       background-color: black;
       color: white;
       font-size: 12px;
       padding: 10px;
       border-radius: 5px;
       font-weight: bold;
     
      }

      button.comment-bar:hover {
      /* height: 45px;
      width: 90px; */
      /* padding: 5px; */
      /* font-size: 14px; */
      transform: scale(1.1);
      }
      
      .commentmessage {
      margin-top: 20px;
      }